[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git
[submodule "CodingTestStudy"]
	path = CodingTestStudy
	url = https://github.com/sms1875/CodingTestStudy.git
